# Xcode build
build/
build-sim/
build-mac/
DerivedData/
*.xcuserstate
xcuserdata/

# Output artifacts
dist/*.ipa
dist/*.dmg

# macOS
.DS_Store

# Misc
*.swiftpm
.build/
.dmgvenv/

# Build counter
.build-number

build.log
build-mac.log
